In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("data/Fish_full(shuai).csv")
data

,Weight,Species,Body Height,Total Length,Diagonal Length,Height,Width
0,300.0,Pike,34.8,37.3,39.8,6.2884,4.0198
1,242.0,Bream,23.2,25.4,30.0,11.5200,4.0200
2,500.0,Bream,29.1,31.5,36.4,13.7592,4.3680
3,600.0,Bream,29.4,32.0,37.2,15.4380,5.5800
4,345.0,Pike,36.0,38.5,41.0,6.3960,3.9770
...,...,...,...,...,...,...,...
154,40.0,Perch,13.8,15.0,16.0,3.8240,2.4320
155,200.0,Pike,30.0,32.3,34.8,5.5680,3.3756
156,540.0,Pike,40.1,43.0,45.8,7.7860,5.1296
157,150.0,Parkki,18.4,20.0,22.4,8.8928,3.2928
158,9.8,Smelt,11.4,12.0,13.2,2.2044,1.1484

In [5]:
species=data['Species'].unique()
print(species)

['Pike' 'Bream' 'Perch' 'Roach' 'Smelt' 'Parkki' 'Whitefish']

In [9]:
AvgWeight=data.groupby('Species').mean()[['Weight']].sort_values(by='Weight', ascending=False)
print(AvgWeight)

               Weight
Species
Pike       718.705882
Bream      617.828571
Whitefish  531.000000
Perch      382.239286
Roach      232.050000
Parkki     154.818182
Smelt       11.178571